{% extends 'base.html.twig' %}

{% block title %}Liste des tags{% endblock %}

{% block body %}
    <h2>Liste des tags</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.name }}</td>
                <td>
                    <a href="{{ path('app_tag_show', {'id': tag.id}) }}" class="btn btn-sm btn-primary">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun tag trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
